*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url(/img/Cloud-Background1.jpg);
    background-attachment: fixed;
}

#nav{
    background-color: #f1e0d7;
}


footer{
    background-color: black;
    color: white;
    margin-top: 30px;
}


footer h2{
    margin-top: 10px;
    font-size: 30px;
}

footer h3{
    font-size: 30px;
    text-align: center;
}
